* {
  font-family: 'Montserrat', sans-serif;
}

.front {
  background-image: url(../image/fon10.jpg);
  width: 100%;
  max-height: 7000px;
  padding-bottom: 75px;
  background-attachment: fixed;
}

.front .check {
  height: 100px;
}

.front .navigator {
  margin: auto;
  width: 80%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.front .navigator .name {
  background-color: #212020;
  height: 50px;
  max-width: 350px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  border-radius: 9px;
  font-weight: 500;
}

.front .navigator .name .link1 {
  font-size: 22px;
  text-decoration: none;
  color: #eba8a8;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.front .navigator .name .link2 {
  font-size: 20px;
  color: #c9c9c9;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.front .navigator .name .link2:hover {
  font-size: 22px;
  text-decoration: none;
  color: #eba8a8;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.front .title {
  height: 80px;
  width: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 9px;
  font-size: 50px;
  font-weight: 900;
  color: #c9c9c9;
  background-color: #21202063;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.front .box {
  padding: 17px;
  margin: auto;
  margin-top: 50px;
  width: 75%;
  height: auto;
  background-color: #212020;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .box .picture {
  width: 49%;
  height: 300px;
  margin-bottom: 20px;
}

.front .box .picture img {
  width: 100%;
  height: 100%;
}

.front .box .picture:hover {
  background: #ffffff;
}

.front .box .picture:hover img {
  opacity: 0.9;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .front .navigator {
    width: 90%;
  }
  .front .navigator .name a {
    font-size: 18px;
  }
  .front .navigator .name a:hover {
    font-size: 20px;
  }
  .front .title {
    width: 300px;
    font-size: 30px;
    height: 70px;
  }
  .front .box {
    padding: 10px;
    width: 90%;
    display: block;
  }
  .front .box .picture {
    width: 100%;
    height: 320px;
    margin-bottom: 10px;
  }
  .front .box .picture img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .front .navigator {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 210px;
  }
  .front .navigator .name {
    width: 250px;
  }
  .front .navigator .name a {
    font-size: 16px;
  }
  .front .navigator .name a:hover {
    font-size: 19px;
  }
  .front .title {
    width: 250px;
    height: 60px;
    font-size: 30px;
    margin-top: 10px;
  }
  .front .box {
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    display: block;
  }
  .front .box .picture {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  .front .box .picture img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1981px) and (max-width: 3000px) {
  .front .box .picture {
    width: 49%;
    height: 450px;
    margin-bottom: 2%;
  }
  .front .box .picture img {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=gallery_style.css.map */